.news {
  width: 90vw;
  min-height: 800px;
  margin: 10px auto;
  padding: 50px 30px;
  background-color: #c4b3b0;
  box-shadow: 8px -6px 16px -2px #8c8c8c;

  @media screen and (min-width: 768px) {
    width: 80vw;
  }

  &__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 27px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: black;

    margin-bottom: 30px;
    padding-left: 50px;
  }
}

.news_item {
  width: 95%;
  max-height: 700px;
  margin: 0 auto 50px;
  padding: 50px;
  box-shadow: 8px -6px 16px -2px #8c8c8c;
  overflow-y: scroll;

  @media screen and (max-width: 768px) {
    padding: 20px 10px;
    max-height: 450px;
  }

  &__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 27px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: black;
    text-align: center;

    margin-bottom: 25px;

    @media screen and (max-width: 768px) {
      font-size: 21px;
    }
  }

  &__img_cover {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__img {
    width: 40%;
    margin: 25px;
    scale: (1);

    @media screen and (max-width: 768px) {
      margin: 10px;
    }

    &:hover,
    &:focus {
      scale: (2);
      box-shadow: 8px -6px 16px -2px #8c8c8c;
    }
  }

  &__text {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: black;
    margin-bottom: 20px;


    @media screen and (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }


  &__date {
    font-family: Playfair Display;
    font-style: italic;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: black;
    text-align: center;

    margin-top: 30px;

  }

}