.about {
  width: 90vw;
  margin: 50px auto 90px;
  padding: 20px 10px;

  @media screen and (min-width: 768px) {
    width: 80vw;
  }

  @media screen and (min-width: 1200px) {
    padding: 30px;
  }


  &__text {
    font-family: Playfair Display;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.05em;
    color: #cdc5c0cc;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 15px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 21px;
    }
  }
}

.gallery {
  position: relative;
  flex-grow: 1;
  margin: 70px auto;
  max-width: 1200px;
  max-height: 1200px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;

}

.shadow {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 500px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(#805d78, rgba(0, 0, 0, 0) 70%);
}

.clipped_img {
  z-index: 1;
  grid-column: span 2;
  width: 250px;
  height: 250px;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;

  @media screen and (max-width: 1200px) {
    width: 150px;
    height: 150px;
  }

  @media screen and (max-width: 777px) {
    width: 67px;
    height: 67px;
  }


  &:nth-child(7n + 1) {
    grid-column: 2 / span 2;
  }

  &:hover {
    z-index: 2;
    transform: scale(1.5);
  }
}


@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}