.form_info {
  width: 90%;
  margin: 0 auto 70px;
  padding: 50px;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    padding: 30px 10px;
  }

  &__form_field {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 0 auto 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label {
    position: absolute;
    top: -25px;
    left: 5%;
    color: black;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    display: block;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      font-size: 23px;
      top: -30px;
    }
  }

  &__input {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 15px;
    border: 2px solid #1D3124;
    border-radius: 15px;
    outline: none;
    background: #bac5c9;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      font-size: 21px;
    }
  }


  &__input_red {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding-left: 15px;
    border: 2px solid red;
    border-radius: 25px;
    outline: none;
    background: #bac5c9;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      font-size: 21px;
    }
  }


  &__comments_field {
    margin-bottom: 10px;
  }

  &__comments {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 110px;
    font-size: 16px;
    padding: 12px 16px;
    border: 2px solid #1D3124;
    border-radius: 15px;
    outline: none;
    background: #bac5c9;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      font-size: 21px;
    }

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);

      font-size: 16px;
      line-height: 1.17;
      letter-spacing: 0.01em;
    }
  }

  &__comments_red {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 110px;
    font-size: 12px;
    padding: 12px 16px;
    border: 2px solid red;
    border-radius: 15px;
    outline: none;
    background: #bac5c9;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      font-size: 21px;
    }
  }

  &__input:hover,
  &__input:focus,
  &__comments:hover,
  &__comments:focus {
    border: 2px solid #E59560;
  }

  &__error {
    position: absolute;
    bottom: -20px;
    left: 5%;
    color: white;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    display: block;

  }

  &__button {
    text-align: center;
    margin: 50px 0 0;
  }
}