.hero {
  margin: 0 auto;
  padding: 0 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 0 30px 30px;
  }


  &__overlay {
    position: relative;
    width: 65vw;
    margin: 90px 10px 30px auto;
    box-shadow: 8px -6px 16px -2px black;

    @media screen and (min-width: 768px) {
      margin: 150px 30px 30px auto;
    }

    @media screen and (min-width: 1200px) {
      margin: 150px 70px 30px auto;
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__link_overlay {
    position: absolute;
    display: block;
    padding: 5px;
    bottom: 50px;
    left: -50px;
    width: 100px;
    height: 50px;
    background-color: #eeded2;
    box-shadow: 8px -6px 16px -2px black;

    @media screen and (min-width: 768px) {
      padding: 10px;
      left: -100px;
      width: 200px;
      height: 90px;
    }

    @media screen and (min-width: 1200px) {
      padding: 50px;
      left: -200px;
      width: 300px;
      height: 150px;
    }
  }

  &__link {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: black;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
  }

  &__text {
    font-family: Playfair Display;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.05em;
    color: #cdc5c0cc;
    margin: 50px auto 30px;
    padding: 0 15px;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 15px;
      margin: 70px auto 50px;
      padding: 0 59px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 21px;
      margin: 90px auto 70px;
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0.9;

  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}